html,
body {
	margin:0;
	padding:0;
	height:100%;
}
html {overflow-y: scroll;}
p{
	line-height:1.3;
}
body
{
	background-color:white;
}
#headspan
{
    margin: auto;
    text-align:center;
    /*border-style:solid;
    border-width:medium;*/
    width: 370px;
    padding: 0px;
}
#header
{
	width: 390px;
    font-family:"Lucida Sans Unicode","Lucida Grande", sans-serif;
	text-align:left;
    font-size:28px;
    line-height:155%;
}
#header h1 {
    font-size:28px !important;;
    font-weight: normal;
    margin: 0;
}

.menu
{
    margin: auto;
    font-family:"Lucida Sans Unicode", sans-serif;
    text-align:right;
    font-size:11px;
    width: 100%;
    background-color: white;
}

.menu ul{
    margin: auto;
    padding: 0px;
    float: none;}

.menu ul li{
    display: inline !important;;
}
.menu ul li h2 {
    display: inline !important;;
    font-size: inherit !important;;
    font-weight: normal !important;;
    margin: 0;
    padding: 0;
}
.menu ul li h2 a {
    font-size: inherit !important;;
    font-weight: normal !important;;
    margin: 0;
    padding: 0 1px 0 60px;
}
.menu ul li a{
    float: inherit; text-decoration: none;
    color: #767676;
    padding-left: 60px;
    padding-right: 1px;
    background-color: white;
}
.menu ul li a:visited{
    color: #767676;
}
.submenu
{
    text-align:left;
}
.submenu ul li h3 {
    display: inline;
    font-size: inherit;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.submenu ul li h3 a {
    font-size: inherit;
    font-weight: normal;
    margin-right: 40px;
}

.submenu ul li a
{
	text-align:left;
	padding-left: 0px;
	font-size: 10px;
	margin-right: 40px;
}
#spec{
    padding-left: 0px;
}

.menu ul li a:hover, .menu ul li a.current{
    color: #000;
    background-color:#ffffff;
}

hr {
    color: #767676;
    background-color: #767676;
    height: 1px;
    border: 0;
	margin-bottom: 10px;
}

#bodyspan{

    margin:0 auto;
    text-align:left;
    position: relative;

    /*border-style:solid;
    border-width:medium;*/
    width: 370px;
    padding: 0px;

    font-family:"Courier New", sans-serif;
    font-size:12px;

}
#container{
	min-height:100%;
	position:relative;
}
#sHeader{
	margin: 0px;
}
#sMain{
	padding-bottom:60px;   /* Height of the footer */
}
#sFooter{
	position:absolute;
	bottom:0;
	height:60px;   /* Height of the footer */
	width:100%;
	/*z-index:100020;*/
}
#footerspan{

	margin:0 auto;
	text-align:left;
	position: relative;

	/*border-style:solid;
		border-width:medium;*/
	width: 370px;
	padding: 0px;

	font-family:"Courier New", sans-serif;
	font-size:12px;

}
/*
#bodyspan1{
    width:100%; text-align:center; position:absolute; bottom:0px;border:1px solid red;
}*/


.aboutText{
    color: #767676;
    white-space:nowrap;
    letter-spacing: -0.5px;
    margin-top: 20px;
    line-height: 1.3;
}


.aboutHeader{
    color: #000;
    font-weight:bold;
	margin: 0px 0px;
    font-size: inherit;
    display: inline-block;
}

textarea {
    width: 370px;
	height: 200px;
    font-family:"Courier New", sans-serif;
    font-size:12px;
    letter-spacing: -0.5px;
}
#aboutTextarea {
	height: 400px;
}

table {
    color: #767676;
    white-space:normal;
    letter-spacing: -0.5px;
    font-family:"Courier New", sans-serif;
    font-size:12px;
}

table td{
    padding-top: 5px;
}

table th{
    color: #000;
    font-weight:bold;
    white-space:normal;
    letter-spacing: -0.5px;
    font-family:"Courier New", sans-serif;
    font-size:12px;
    padding-right: 15px;
}

button, input[type="button"], input[type="submit"], input[type="file"] {
	padding:	4px 18px;
	margin: 4px 0px;
}

.imageListContainer{
	margin-bottom: 8px;
}

.imageListElement{
	display:table-cell;
	vertical-align:middle;
	width:100%;
}

.imageListImage{
	width:100px;
}

.imageListText{
	padding-left: 20px;

	margin:0 auto;

}
.imageListAdminStuff{
	vertical-align:middle;
	width:100px;
}
li{
	margin-top:4px;
}

.picture{

}

a {
	color: #767676;
}

.newsImg{
	display: block;   margin-left: auto;   margin-right: auto; width: 366px;
}

.greyText{
	color: #bbb;
}

.fancybox-outer {
	padding: 0;
	margin: 0;
	background: #FFF;
}
.fancybox-opened .fancybox-outer {
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.tableview{
	width:370px;
	border: 0px solid #ff0f0f;
	padding:0px;
	margin:0px;
}
.startpageText{
	width:360px;text-align: left; margin-top:10px;
}

@media only screen and (max-width: 370px), only screen and (max-device-width: 370px) {
	.tableview{
		width:100%;
	}
	#bodyspan{
		width: 100%;
	}
	#headspan
	{
		width: 100%;
	}
	#header
	{
		width: 100%;
		font-size:20px;
	}

	#footerspan{
		width: 100%;
	}
	.menu
	{
		text-align:left;
	}
	.menu ul li a{
		padding-left: 10px;
	}
	.submenu ul li a{
		margin-right: 10px;
	}
	.aboutText{
		white-space:normal;
	}
	.newsImg{
		width: 100%;
	}
	.startpageText{
		width:100%;
	}

}




